### Importing the libraries

In [6]:
import pandas as pd
import numpy as np

### Reading the dataset

In [7]:
df = pd.read_csv(r"C:\\users\\bhask\\downloads\\zomp.csv")

# Data Cleaning

In [8]:
dataset = df.copy()
pd.set_option('display.max_columns', None)
df.head(n=1)

,Restaurant_Name,Web_Link,Locality,Sponsored,Ratings_out_of_5,Number of votes,Phone_number,Cuisines,Charges_for_two,payment_modes,Rest_timming,Detail_address,5_star_review_percentage,4_star_review_percentage,3_star_review_percentage,2_star_review_percentage,1_star_review_percentage,Wine and Beer,Dance Floor,Lunch Menu,Outdoor Seating,Seaside,4/5 Star,Free Parking,Pet Friendly,Bulk Orders Accepted,Gaming Are,City View,Vegetarian Only,Brunch,Live Music,Wheelchair Accessible,Home Delivery,Celebrity Frequented,Pre-Ordering Required,Pool Table,Keto Options,Wifi,Sports TV,Wine Tasting,Beer,Restricted Entry,Variable Menu,Serves Non Veg,Table booking for Groups,Poolside,Home Baker,Wine,Buffet,Board Games,Vegan Options,Table Reservation Not Required,Table reservation required,Rooftop,BYOB,Egg Preparations,Live Sports Screening,Luxury Dining,Seating Not Available,Desserts and Bakes,Card Upon Delivery,Serves Jain Food,Mall Parking,Available for Functions,Gastro Pub,Live Entertainment,Sugar Free Options,Couple Entry Only,Above 18 Only,Drive in,Drive Thru,Valet Parking Available,Indoor Seating,Free Wifi,Nightlife,Serves Cocktails,Kid Friendly,Craft Beer,All Day Breakfast,Gluten Free Options,Group Meal,Table booking not available,Full Bar Available,Members Only,Standing Tables,Karaoke,Entry Fee,Self Service,Delivery Only,LGBTQIA Friendly,No Alcohol Available,Unlimited Pizz,Private Dining Area Available,Smoking Are,Table booking recommended,Resto Bar,Serves Alcohol,Breakfast,Catering Available,Disabled Friendly,Serves Halal,Takeaway Only,BYOB Only,spam_review
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,Casual Dining,4.9,7029 votes,+91 9373112211,"Continental, North Indian, Chinese","₹1,400",Cash and Cards accepted,"12noon – 4:30pm, 6:30pm – 11:30pm","Shop 206, 2nd Floor, White Square Building, Op...",79%,13%,3%,2%,3%,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1539.0

We will drop some unnecessary columns from our dataset.

In [9]:
df.drop(df.columns[-11:], axis=1, inplace= True)
df.drop(df.columns[-10:-2], axis=1, inplace=True)
df.drop(df.columns[-11:-3], axis=1, inplace=True)
df.drop(df.columns[-24:-4], axis=1, inplace=True)
df.drop(df.columns[-24:-5], axis=1, inplace=True)
df.drop(df.columns[-15:-6], axis=1, inplace=True)

Dropped some more columns as they are not required in our analysis- such as 'Web_Link' and 'Phone_number'

In [10]:
df.drop(df.columns[-17:-6], axis=1, inplace=True)
df.drop(['Phone_number'], axis = 1, inplace = True)
df.head(n=1)

,Restaurant_Name,Web_Link,Locality,Sponsored,Ratings_out_of_5,Number of votes,Cuisines,Charges_for_two,payment_modes,Rest_timming,Detail_address,Home Delivery,Table reservation required,Free Wifi,Full Bar Available,Unlimited Pizz,Private Dining Area Available
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,Casual Dining,4.9,7029 votes,"Continental, North Indian, Chinese","₹1,400",Cash and Cards accepted,"12noon – 4:30pm, 6:30pm – 11:30pm","Shop 206, 2nd Floor, White Square Building, Op...",0,0,0,1,0,0

Renaming some columns for better readability.

In [11]:
df = df.rename(columns = {"Ratings_out_of_5" : "rate", "payment_modes" : "payment", 
                   "Rest_timming" : "timing", "Unlimited Pizz": "unlimited pizza", "Restaurant_Name": "name", "Number of votes": "votes", "Charges_for_two": "avg_cost",
                         "Detail_address": "address","Home Delivery": "delivery", "Cuisines": "cuisines", "Locality": "locality", "Sponsored": "type"})
df.head(n=1)

,name,Web_Link,locality,type,rate,votes,cuisines,avg_cost,payment,timing,address,delivery,Table reservation required,Free Wifi,Full Bar Available,unlimited pizza,Private Dining Area Available
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,Casual Dining,4.9,7029 votes,"Continental, North Indian, Chinese","₹1,400",Cash and Cards accepted,"12noon – 4:30pm, 6:30pm – 11:30pm","Shop 206, 2nd Floor, White Square Building, Op...",0,0,0,1,0,0

# Cleaning the data column wise

### Lets one by one check for each column, if there is any noise in the data and clean parallely if any

#### name column

In [12]:
df['name'].isnull().sum()

0

No null values in Name, don't you think this was also obvious, "A restaurant without a name". Oh I think I got a name for my restaurant!

#### rate column

In [13]:
df['rate'].unique()

array(['4.9', '4.6', '4.3', '4.5', '4.0', '4.7', '4.2', '4.4', '4.1',
       '3.7', '0', '4.8', '3.9', '3.6', '3.4', '3.8', '2.9', '3.5', '3.2',
       '3.3', '2.1', '2.5', '2.4', '3.0', '3.1', '2.7', '2.6', '2.8',
       '2.3', '-', '2.2', '2.0', '3', '4'], dtype=object)

So there are some missing values e.g. nan, -, lets encode them with some value or leave them blank

In [14]:
a = list(df['rate'])
for i in range(0, len(a)):
    if a[i] == '0':
        a[i] = 'unrated'
    elif a[i] == '-':
        a[i] = 'unrated'
        
df['rate'] = a

df['rate'].value_counts()

a = list(df['rate'])
for i in range(0, len(a)):
    if a[i] == 'unrated':
        a[i] = None
    else :
        a[i] = float(a[i])
df['rate'] = a

We have replaced all the nan and its equivalent by empty string or blanks which will now be our symbol for nans

#### delivery column

In [15]:
df['delivery'].unique()

array([0, 1], dtype=int64)

No missing values in our Home Delivery column, contains only 1 or 0

In [16]:
a = list(df['delivery'])
for i in range(0, len(a)):
    if a[i] == '0':
        a[i] = 'No'
    elif a[i] == '1':
        a[i] = 'Yes'
        
df['delivery'] = a

df['delivery'].value_counts()

1    8077
0    4112
Name: delivery, dtype: int64

#### avg_cost column

In [17]:
# Lets check the number of null values in the column
print("NULL values : ",df['avg_cost'].isnull().sum())
print("Blank : ", (df['avg_cost']=="").sum())

NULL values :  0
Blank :  0

Zero NULL values, Perfect!!!

In [18]:
df['avg_cost'].unique()

array(['₹1,400', '₹1,500', '₹2,500', '₹1,700', '₹150', '₹1,300', '₹1,000',
       '₹250', '₹1,800', '₹1,600', '₹700', '₹900', '₹2,000', '₹600',
       '₹1,200', '₹550', '₹2,200', '₹1,100', '₹500', '₹850', '₹300',
       '₹2,100', '₹800', '₹400', '₹450', '₹650', '₹1,250', '₹950', '₹200',
       '₹3,200', '₹350', '₹100', 'Not Present', '₹1,900', '₹3,000',
       '₹750', '₹2,600', '₹2,700', '₹1,050', '₹1,350', '₹4,200', '₹4,000',
       '₹2,00,250', '₹2,400', '₹1,750', '₹3,100', '₹420', '₹1,150',
       '₹1,650', '₹2,900', '₹999', '₹1,950', '₹4,500', '₹280', '₹50',
       '₹1,550', '₹160', '₹110', '₹220', '₹120', '₹15', '₹2,800',
       '₹3,500'], dtype=object)

In [19]:
p = list(df['avg_cost'])
for i in range(0, len(p)):
    if p[i] == 'Not Present':
        p[i] = None
df['avg_cost'] = p

#### votes column

In [20]:
df['votes'] = df['votes'].apply(lambda x: str(x).split(' ')[0])

In [21]:
df['votes'].dtypes

dtype('O')

In [22]:
df['votes'].isnull().sum()

0

In [23]:
df['votes'].unique()

array(['7029', '2578', '3291', '430', '2138', '4731', '2999', '1437',
       '2296', '3758', 'Based', '948', '280', '3435', '259', '498', '317',
       '4665', '3243', '3006', '1334', '1983', '2938', '462', '2871',
       '3281', '2039', '1941', '1057', '3847', '0', '3189', '1104',
       '1112', '910', '1737', '1531', '7002', '4715', '2585', 'Na',
       '1956', '5660', '2930', '3552', '1429', '1942', '1461', '2642',
       '230', '1617', '2654', '1238', '1135', '866', '1971', '2401',
       '134', '3341', '2624', '2161', '1102', '2758', '361', '4815',
       '970', '3441', '527', '3693', '2792', '2450', '3790', '2528',
       '3916', '2931', '1430', '938', '1647', '1894', '1044', '819',
       '179', '1303', '1944', '773', '1042', '275', '987', '1438', '2857',
       '378', '247', '350', '742', '3476', '589', '2486', '277', '890',
       '687', '2189', '2208', '1641', '1861', '1289', '3230', '516',
       '521', '1331', '723', '1158', '1670', '5334', '1948', '3908',
       '3848', '741', '3081', '213', '431', '494', '210', '333', '883',
       '1073', '1225', '1576', '1505', '1173', '1709', '257', '1816',
       '1297', '671', '1528', '2283', '943', '2070', '422', '1472',
       '1312', '1482', '3653', '570', '941', '1315', '708', '584', '510',
       '1118', '156', '414', '3710', '212', '1188', '1344', '3296', '311',
       '1702', '1141', '1474', '1535', '201', '2773', '749', '382', '847',
       '2014', '770', '875', '1146', '1278', '265', '605', '1156', '1831',
       '1883', '322', '1215', '409', '2185', '1365', '3674', '1021',
       '618', '1772', '813', '140', '1959', '2696', '1086', '843', '84',
       '113', '224', '117', '1754', '2818', '200', '2617', '175', '1164',
       '1770', '309', '739', '623', '228', '207', '1270', '511', '356',
       '805', '157', '962', '339', '329', '1055', '335', '441', '1628',
       '1256', '161', '145', '1408', '216', '616', '474', '669', '705',
       '1992', '791', '546', '130', '326', '1097', '1712', '1496', '2107',
       '2235', '1193', '252', '297', '206', '151', '468', '483', '985',
       '1070', '455', '1856', '389', '1675', '436', '127', '2010', '391',
       '689', '172', '100', '719', '2144', '218', '1980', '268', '988',
       '525', '641', '152', '2563', '250', '1767', '488', '524', '549',
       '816', '1707', '679', '2244', '2445', '793', '237', '702', '1786',
       '282', '2521', '184', '824', '2919', '971', '631', '415', '76',
       '46', '234', '48', '358', '700', '599', '40', '418', '52', '209',
       '204', '2812', '921', '580', '767', '403', '169', '240', '1456',
       '363', '621', '439', '2683', '1465', '370', '396', '310', '86',
       '262', '557', '645', '103', '123', '286', '949', '1213', '806',
       '614', '236', '289', '231', '244', '870', '535', '923', '1049',
       '698', '158', '287', '1235', '55', '1819', '359', '531', '118',
       '1887', '96', '319', '1814', '1514', '3865', '337', '81', '168',
       '588', '450', '91', '564', '1798', '2008', '537', '126', '137',
       '573', '116', '346', '652', '638', '907', '2393', '583', '438',
       '758', '193', '138', '655', '1931', '1599', '810', '724', '334',
       '446', '775', '167', '160', '196', '215', '185', '214', '227',
       '784', '188', '506', '1229', '90', '643', '131', '727', '205',
       '1433', '432', '34', '513', '690', '561', '93', '754', '817',
       '111', '730', '594', '961', '150', '349', '1243', '99', '61', '22',
       '1848', '29', '703', '261', '1434', '278', '338', '932', '10',
       '576', '914', '779', '412', '398', '325', '762', '490', '1688',
       '476', '50', '461', '41', '835', '448', '1249', '1038', '852',
       '1126', '307', '975', '547', '226', '301', '712', '778', '950',
       '87', '470', '493', '290', '751', '177', '159', '37', '54', '251',
       '597', '831', '3384', '1681', '387', '1160', '366', '1059', '425',
       '133', '996', '110', '571', '271', '575', '65', '2285', '1089',
       '600', '80', '136', '434', '1678', '70', '135', '292', '619',
       '811', '44', '38', '496', '976', '421', '701', '1037', '298',
       '394', '178', '444', '873', '364', '315', '466', '49', '295',
       '242', '1695', '270', '1023', '666', '457', '424', '478', '392',
       '355', '407', '233', '610', '191', '1085', '933', '30', '680',
       '383', '89', '53', '71', '164', '256', '393', '486', '106', '142',
       '1371', '761', '777', '27', '139', '348', '542', '1176', '36',
       '354', '296', '586', '417', '725', '684', '105', '56', '351',
       '475', '869', '675', '871', '189', '197', '202', '395', '1332',
       '79', '173', '582', '782', '750', '367', '369', '691', '699',
       '243', '543', '533', '536', '648', '1569', '529', '92', '174',
       '375', '663', '399', '1010', '241', '279', '276', '371', '143',
       '47', '14', '194', '124', '683', '479', '497', '221', '121', '45',
       '603', '67', '165', '163', '1500', '373', '31', '119', '442',
       '272', '952', '426', '266', '72', '74', '199', '59', '467', '114',
       '112', '170', '664', '120', '863', '465', '155', '458', '1060',
       '429', '115', '495', '433', '553', '235', '627', '891', '28', '63',
       '405', '171', '656', '109', '83', '744', '75', '799', '60', '365',
       '58', '340', '353', '73', '182', '332', '833', '190', '147', '17',
       '25', '449', '443', '68', '563', '440', '82', '397', '410', '125',
       '1398', '39', '98', '291', '590', '491', '1046', '62', '232',
       '472', '330', '480', '1982', '11', '357', '260', '612', '1030',
       '220', '69', '181', '688', '21', '153', '15', '33', '183', '42',
       '245', '57', '107', '88', '129', '293', '264', '374', '615', '299',
       '77', '85', '26', '32', '285', '66', '942', '102', '419', '186',
       '176', '878', '381', '16', '95', '552', '122', '132', '146', '154',
       '35', '427', '845', '97', '519', '796', '198', '492', '390', '166',
       '413', '530', '435', '324', '284', '78', '108', '148', '211',
       '846', '1358', '644', '13', '512', '312', '104', '682', '192',
       '380', '328', '341', '842', '550', '269', '8', '219', '162', '94',
       '128', '187', '43', '554', '400', '320', '18', '362', '20', '51',
       '1288', '24', '732', '229', '520', '248', '1007', '401', '1324',
       '294', '274', '386', '1033', '254', '9', '4', '144', '456', '636',
       '647', '12', '316', '402', '376', '505', '203', '368', '657',
       '420', '360', '451', '539', '318', '149', '64', '501', '660',
       '463', '101', '5', '217', '771', '515', '556', '23', '342', '841',
       '253', '634', '208', '585', '323', '239', '6', '408', '558', '946',
       'com', '697', '303', '7', '313', '255', '737', '1019', '385',
       '263', '604', '551', '517', '19', '141', '180', '565', '601',
       '222', '258', '273', '473', '484', '876', '288', '327', '388',
       '868', '352', '559', '267', '195', '908', '225', '673', '314',
       '471', '445', '489', '503', '502', '249', '379'], dtype=object)

In [24]:
a = list(df['votes'])
for i in range(0, len(a)):
    if a[i] == 'Based':
        a[i] = 'unrated'
    elif a[i] == '0':
        a[i] = 'unrated'
    elif a[i] == 'Na':
        a[i] = 'unrated'
    elif a[i] == 'com':
        a[i] = 'unrated'
        
df['votes'] = a

df['votes'].value_counts()

a = list(df['votes'])
for i in range(0, len(a)):
    if a[i] == 'unrated':
        a[i] = None
df['votes'] = a

In [25]:
df['votes'] = df['votes'].fillna(0)

In [26]:
df['votes'] = df.votes.astype(int)

In [27]:
df.head(n=5)

,name,Web_Link,locality,type,rate,votes,cuisines,avg_cost,payment,timing,address,delivery,Table reservation required,Free Wifi,Full Bar Available,unlimited pizza,Private Dining Area Available
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,Casual Dining,4.9,7029,"Continental, North Indian, Chinese","₹1,400",Cash and Cards accepted,"12noon – 4:30pm, 6:30pm – 11:30pm","Shop 206, 2nd Floor, White Square Building, Op...",0,0,0,1,0,0
1,Cafe Co2 Resto Lounge,https://www.zomato.com/pune/cafe-co2-resto-lou...,Bhugaon,"Lounge, Casual Dining",4.6,2578,"North Indian, Chinese, Continental, Kebab, Sea...","₹1,500",Cash and Cards accepted,11am – 4am,"Near Manas Lake, Bhugaon, Pune",0,0,0,1,0,0
2,Paasha - JW Marriott Pune,https://www.zomato.com/pune/paasha-jw-marriott...,Senapati Bapat Road,Fine Dining,4.6,3291,"North Indian, Kebab, Biryani","₹2,500","Cash,Cards and Digital Payments accepted",5:30pm – 12:30am,"JW Marriott, Senapati Bapat Road, Pune",0,0,0,1,0,0
3,I Amsterdam,https://www.zomato.com/pune/i-amsterdam-hinjawadi,Hinjawadi,"Casual Dining, Bar",4.3,430,"Asian, European, Modern Indian, Italian","₹1,400","Cash,Cards and Digital Payments accepted",12noon – 1am,"Survey 257/1/1A, Near Raj Laxmi Petrol Pump, P...",0,0,0,1,0,0
4,FC Road Social,https://www.zomato.com/pune/fc-road-social-shi...,Shivaji Nagar,"Bar, Casual Dining",4.5,2138,"North Indian, Chinese, Biryani, American, Cont...","₹1,500","Cash,Cards and Digital Payments accepted",9am – 1am,"CTS 1183, Unit 101, 1st Floor, Mezzanine Floor...",1,0,0,1,0,0

#### locality column

In [28]:
df['locality'].isnull().sum()

0

No NULL values in locality column, PERFECT!

In [29]:
df['locality'].unique()

array(['Hinjawadi', 'Bhugaon', 'Senapati Bapat Road', 'Shivaji Nagar',
       'Wakad', 'East Street', 'Yerawada', 'Bavdhan', 'Kalyani Nagar',
       'Narhe', 'Bund Garden Road', 'Viman Nagar', 'Magarpatta',
       'Deccan Gymkhana', 'Hadapsar', 'Baner', 'Sus', 'Shivapur',
       'Mundhwa', 'FC Road', 'Kothrud', 'Koregaon Park', 'Erandwane',
       'MG Road', 'Karve Nagar', 'Sadashiv Peth', 'Pune University',
       'JM Road', 'Dhole Patil Road', 'Camp Area', 'Pimple Saudagar',
       'Kharadi', 'Ravet', 'Aundh', 'Nigdi', 'Kondhwa', 'Swargate',
       'Katraj', 'Khadki', 'Salunkhe Vihar Road', 'Law College Road',
       'Pimple Nilakh', 'Pashan', 'Lonavala', 'NIBM Road', 'Balewadi',
       'Dange Chowk', 'SB Road - Aundh', 'Pimpri Chinchwad Area',
       'Wadgaon Sheri', 'Pimpri', 'Wanowrie Kondhwa Area', 'Chinchwad',
       'Chandan Nagar', 'Fatima Nagar', 'Budhwar Peth', 'Warje',
       'Wagholi', 'Akurdi', 'Bibvewadi', 'Rasta Peth', 'KP and Kalyani',
       'Sinhgad Road', 'Model Colony', 'Parvati',
       'Magarpatta, Pune Sholapur Rd', 'Pimple Gurav', 'Lohegaon',
       'Dhankawadi', 'Bhosari', 'Satara Road', 'Talawade', 'Mahalunge',
       'Tilak Road', 'Old Mumbai-Pune Highway', 'Shukrawar Peth',
       'Kothrud Area', 'Deccan & Peths', 'Ghorpadi', 'Dhanori',
       'Wanowrie', 'Dehu Road', 'Pune-Solapur Road', 'Vishrantwadi',
       'Shaniwar Peth', 'Khadakwasla', 'B.T. Kawade Road', 'Lavale',
       'Talegaon', 'Shivane', 'Mulshi Road', 'Chakan', 'Expressway',
       'Lavasa', 'Camp-MG Road Area', 'Koregaon Bhima', 'Khandala',
       'Around Pune', 'Bopkhel'], dtype=object)

In [30]:
df['locality'].nunique()

99

So there are 99 neighborhoods in Pune, according to our dataset.

#### type column

In [31]:
df['type'].isnull().sum()

0

In [32]:
df['type'].unique()

array(['Casual Dining', 'Lounge, Casual Dining', 'Fine Dining',
       'Casual Dining, Bar', 'Bar, Casual Dining', 'Pub, Casual Dining',
       'Bakery', 'Bar', 'Quick Bites', 'Café', 'Club',
       'Casual Dining, Café', 'Microbrewery', 'Lounge', 'Bar, Pub',
       'Café, Lounge', 'Irani Cafe', 'Club, Lounge',
       'Café, Dessert Parlor', 'Lounge, Bar',
       'Dessert Parlor, Beverage Shop', 'Casual Dining, Lounge',
       'Dessert Parlor, Quick Bites', 'Café, Casual Dining',
       'Dessert Parlor, Café', 'Fine Dining, Bar', 'Lounge, Pub',
       'Sweet Shop, Quick Bites', 'Bar, Lounge', 'Takeaway, Delivery',
       'Dessert Parlor, Bakery', 'Delivery', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Microbrewery, Pub',
       'Food Truck, Dessert Parlor', 'Casual', 'Pub', 'Bar, Café',
       'Food Court', 'Casual Dining, Dessert Parlor',
       'Bakery, Quick Bites', 'Quick Bites, Dessert Parlor',
       'Dessert Parlor, Food Truck', 'Pub, Café', 'Café, Bakery',
       'Sweet Shop', 'Food Truck', 'Quick Bites, Café', 'Bakery, Café',
       'Beverage Shop', 'Quick Bites, Food Court', 'Bhojanalya', 'Dhaba',
       'Café, Quick Bites', 'Takeaway', 'Kiosk',
       'Beverage Shop, Quick Bites', 'Beverage Shop, Dessert Parlor',
       'Paan Shop', 'Food Court, Sweet Shop', 'Café, Bar',
       'Quick Bites, Bakery', 'Mess', 'Sweet Shop, Bakery',
       'Quick Bites, Beverage Shop', 'Dhaba, Bar',
       'Paan Shop, Beverage Shop', 'Quick Bites, Sweet Shop',
       'Irani Cafe, Quick Bites', 'Bakery, Sweet Shop',
       'Confectionery, Bakery', 'Confectionery',
       'Casual Dining, Microbrewery', 'Pub, Lounge',
       'Dessert Parlor, Paan Shop', 'Food Truck, Quick Bites',
       'Casual Dining, Pub', 'Café, Beverage Shop', 'Food Court, Bakery',
       'Dessert Parlor, Sweet Shop'], dtype=object)

Assigning appropriate data type and column name to our data

In [33]:
# Verifying data types for each column
df.dtypes

name                              object
Web_Link                          object
locality                          object
type                              object
rate                             float64
votes                              int32
cuisines                          object
avg_cost                          object
payment                           object
timing                            object
address                           object
delivery                           int64
Table reservation required         int64
Free Wifi                          int64
Full Bar Available                 int64
unlimited pizza                    int64
Private Dining Area Available      int64
dtype: object

For each of the column assignng their appropriate categories based on the analysis we have done so far.

In [34]:
df['locality'] = df['locality'].astype('category')
df['Free Wifi'] = df['Free Wifi'].astype('category')

In [35]:
df.dtypes

name                               object
Web_Link                           object
locality                         category
type                               object
rate                              float64
votes                               int32
cuisines                           object
avg_cost                           object
payment                            object
timing                             object
address                            object
delivery                            int64
Table reservation required          int64
Free Wifi                        category
Full Bar Available                  int64
unlimited pizza                     int64
Private Dining Area Available       int64
dtype: object

#### Convert each of the column name to lower case character

In [36]:
df.columns

Index(['name', 'Web_Link', 'locality', 'type', 'rate', 'votes', 'cuisines',
       'avg_cost', 'payment', 'timing', 'address', 'delivery',
       'Table reservation required', 'Free Wifi', 'Full Bar Available',
       'unlimited pizza', 'Private Dining Area Available'],
      dtype='object')

In [37]:
df.columns = map(str.lower, df.columns)
df.columns

Index(['name', 'web_link', 'locality', 'type', 'rate', 'votes', 'cuisines',
       'avg_cost', 'payment', 'timing', 'address', 'delivery',
       'table reservation required', 'free wifi', 'full bar available',
       'unlimited pizza', 'private dining area available'],
      dtype='object')

In [38]:
df.describe(include = 'all')

,name,web_link,locality,type,rate,votes,cuisines,avg_cost,payment,timing,address,delivery,table reservation required,free wifi,full bar available,unlimited pizza,private dining area available
count,12189,12189,12189,12189,7712.000000,12189.000000,12189,10072,12189,12189,12189,12189.000000,12189.000000,12189.0,12189.000000,12189.000000,12189.000000
unique,11163,12134,99,81,NaN,NaN,2560,62,12,1329,11321,NaN,NaN,2.0,NaN,NaN,NaN
top,Hotel Malhar,https://www.zomato.com/pune/burger-up-aundh,Hadapsar,Quick Bites,NaN,NaN,North Indian,₹300,Cash only,11am – 11pm,KP and Kalyani,NaN,NaN,0.0,NaN,NaN,NaN
freq,13,2,575,5466,NaN,NaN,839,1431,3484,1825,82,NaN,NaN,11993.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,3.436891,88.219132,NaN,NaN,NaN,NaN,NaN,0.662647,0.003774,NaN,0.093281,0.000246,0.005989
std,NaN,NaN,NaN,NaN,0.415953,329.126386,NaN,NaN,NaN,NaN,NaN,0.472826,0.061319,NaN,0.290838,0.015687,0.077160
min,NaN,NaN,NaN,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,3.100000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,3.400000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,3.700000,37.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,0.000000
max,NaN,NaN,NaN,NaN,4.900000,7029.000000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,1.000000,1.000000,1.000000

## The data cleaning is done. We will now download a copy of this dataset for our EDA.

Lets,

1. Import a module to display a link to the file

2. Import a module to delete the file

3. Create a download function

In [39]:
from IPython.display import FileLink
import os

def csv_download_link(df, clean_data, delete_prompt=True):
    """Display a download link to load a data frame as csv from within a Jupyter notebook"""
    df.to_csv(clean_data, index=False)
    from IPython.display import FileLink
    display(FileLink(clean_data))
    if delete_prompt:
        a = input('Press enter to delete the file after you have downloaded it.')
        import os
        os.remove(clean_data)
        
csv_download_link(df, 'final_df.csv')

C:\Users\bhask\final_df.csv

Press enter to delete the file after you have downloaded it.